<html>
  <head>
    <style>

    </style>
  </head>
  <body>
    <p>Hi {{name}},</p>
    <p>Congratulations! You have successfully created an account with Nairalink.</p>
    <p>The verification token will be valid for 5 minutes. Please do not share
      this link with anyone.</p>
    <p> Please, click the link below to confirm your email</p>
    <a href='{{link}}'>Confirm Email</a>
    <p>Thank you.</p>
    <h4>The Nairalink Team.</h4>
  </body>
</html>
