<html>
  <head>
    <style>

    </style>
  </head>
  <body>
    <p>Hi {{name}},</p>
    <p>Congratulations! You have successfully created an account with Nairalink.</p>
    <p>Your Email verification token:</p>
    <h3>{{token}}</h3>
    <p>The verification token will be valid for 5 minutes. Please do not share
      this code with anyone.</p>
    <p>
      If you did not initiate this action, kindly report immediately to the
      system administrator.</p>
    <p>Thank you.</p>
    <h4>The Nairalink Team.</h4>
  </body>
</html>
