<html>
  <head>
    <style>

    </style>
  </head>
  <body>
    <p>Hi {{name}},</p>
    <p>You requested to reset your password.</p>
    <p>The verification token will be valid for 10 minutes. Please do not share
      this link with anyone.</p>
    <p> Please, click the link below to reset your password</p>
    <a href='{{link}}'>Reset Password</a>
    <h4>The Nairalink Team.</h4>
  </body>
</html>
